/* Popular Lease Deals Component Styles */
.popular-lease-deals {
  position: relative;
  padding: 20px;
  background-color: var(--color-background);
}

.popular-lease-deals__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text); /* Use CSS variable */
  margin-bottom: 1.5rem;
}

.popular-lease-deals__product-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px; /* Add space for scrollbar */
  position: relative;
}

.popular-lease-deals__product-list::-webkit-scrollbar {
  height: 8px;
}

.popular-lease-deals__product-list::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}

.popular-lease-deals__product-list::-webkit-scrollbar-track {
  background-color: var(--color-background-alt);
}

.popular-lease-deals__product-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  background-color: var(--color-background);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.popular-lease-deals__image-container {
  position: relative;
}

.popular-lease-deals__image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 360;
}

.popular-lease-deals__view-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--color-secondary);
  color: var(--color-background);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popular-lease-deals__view-button:hover {
  background-color: var(--color-primary);
}


.popular-lease-deals__price {
  font-size: 16px;
  color: var(--color-text-light);
  margin: 10px;
}

/* Chevron Styling */
.popular-lease-deals__chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 32px;
  cursor: pointer;
  z-index: 10;
  transition: color 0.3s ease;
}

.popular-lease-deals__chevron:hover {
  color: var(--color-primary);
}

.popular-lease-deals__chevron--left {
  left: 10px;
}

.popular-lease-deals__chevron--right {
  right: 10px;
}